<%= form_for([@product]) do |f|  %>
<% if @product.errors.any? %>
<div class="alert">
	<ul type = "circle">
		<li><i class="material-icons small">report_problem</i>
		<strong>Error al realizar la operación:</strong></li>
		<% @product.errors.full_messages.each do |message| %>
		<li><i class="material-icons tiny">error</i><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<% if (defined? @portion) != nil %>
<% if @portion.errors.any? %>
<div class="alert">
	<ul type="circle">
		<li> <i class="material-icons small">report_problem</i>
		<strong>Error al realizar la operación:</strong></li>
		<% @portion.errors.full_messages.each do |message| %>
		<li> <i class="material-icons tiny">error</i><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>
<% end %>
<div class="input-field">
	<%= f.label :nombre %>
	<%= f.text_field :nombre, :required => true %>
</div>

<div class="input-field">
	<%= f.label :cantidad, "Contenido total" %>
	<%= f.text_field :cantidad, :required => true, class: "numero_decimal" %>
</div>

<div class="input-field">
	<%= f.select :measure, options_for_select( @measures.collect { |m| [ m.abrebiacion, m.id ] }, 1), :required => true%>
	<label>Medida del contenido</label>
</div>

<div class="input-field">
	<%= f.label :calorias, "Calorías Kcal/cal" %>
	<%= f.text_field :calorias, :required => true, class: "numero_entero" %>
</div>
<div class="input-field">
	<%= f.label :codigo, "Código de barras" %>
	<%= f.text_field :codigo, :required => true, class: "numero_entero" %>
</div>
<div class="file-field input-field">
	<div class="btn">
		<span>Imagen del producto</span>
		<%= f.file_field :image %>
	</div>
	<div class="file-path-wrapper">
		<input type="text" class="file-path">
	</div>
</div>
<% unless @product.id.nil? %>
<div>
	<label>Imagen Actual</label>
	<%= image_tag @product.image.url(:mobile) %>
</div>
<% end %>

<%= f.fields_for @product.portion do |u| %>
<div class="group" id="porciones_num">
	<div class="input-field">
		<%= u.label :porcion %>
		<%= u.text_field :porcion, class: "numero_decimal" %>
	</div>
	<div class="input-field">
		<%= u.label :cantidad, "Contenido de la porción" %>
		<%= u.text_field :cantidad, class: "numero_decimal" %>
	</div>
	<div class="input-field">
		<%= u.select :measure, options_for_select( @measures.collect { |m| [ m.abrebiacion, m.id ] }, (@product.portion.present? ? "1" : @product.portion.measure.id) ), :required => true%>
		<label>Medida de la porción</label>
	</div>
	<div class="input-field">
		<%= u.label :equivalencia, "Equivalencia de la porción" %>
		<%= u.text_field :equivalencia %>
	</div>
</div>
<% end %>
<div class="action top-space center">
	<%= f.submit "Enviar", class:"btn" %>
</div>
<% end %>