<div class="container center">
	<h1 style="display: inline-block; margin-right: 15px"><%= @product.nombre %> - <%= link_to "<i class = 'fi-pencil be-icon-green medium'></i>".html_safe, edit_product_path(@product) %> - </h1><%= link_to "<i class = 'fi-trash medium be-icon-red' style='display: inline-block;'></i>".html_safe, product_path(@product), method: :delete %>
	<div class="field">
		<%= image_tag @product.image.url(:web) %>
	</div>
	<p>
		<h3>Cantidad: </h3>
		<%= @product.cantidad%>
	</p>
	<p>
		<h3>Calorías: </h3>
		<%= @product.calorias %>
	</p>
	<p>
		<h3>Codigo: </h3>
		<%= @product.codigo %>
	</p>
	<% if @product.porciones == true %>
	mostrar porciones
	<% end %>
</div>
<%= render "has_nutrient/form" %>