<h2>Actualizar datos de compañía</h2>
<%= form_for(@company) do |f|  %>
<%if  @company.errors.any?%>
<div class="alert">
	<ul type = "circle">
		<li><i class="material-icons small">report_problem</i>
			<strong>Error al realizar la operación:</strong></li>
		<% @company.errors.full_messages.each do |message| %>
		<li><i class="material-icons tiny">error</i><%= message %></li>
		<%end%>
	</ul>
</div>
<% end %>
<div class="input-field">
	<%= f.label :nombre %>
	<%= f.text_field :nombre, :required => true %>
</div>
<div class="input-field">
	<%= f.label :direccion, "Dirección" %>
	<%= f.text_field :direccion, :required => true %>
</div>
<div class="input-field">
	<%= f.label :telefono, "Teléfono" %>
	<%= f.text_field :telefono, :required => true %>
</div>
<div class="action top-space center">
	<%= f.submit "Enviar", class:"btn" %>
</div>
<%end%>
