
<%= form_for([@product,@has_nutrient]) do |f| %>
	<% if @product.errors.any? %>
	<div class="alert">
		<ul type = "circle">
			<li><i class="material-icons small">report_problem</i>
			<strong>Error al realizar la operación:</strong></li>
			<% @product.errors.full_messages.each do |message| %>
				<li><i class="material-icons tiny">error</i><%= message %></li>
			<%end%>
		</ul>
	</div>
<% end %>
	<div class="container">	
		<div class="card big-padding">	
			<h2>Nutrientes</h2>
			<% @nutrients.each do |nutrient| %>
			<div class="input-field">
				<% has_nutrient = @product.nutrients.include?(nutrient) %>
				<%= check_box_tag "nutrients[identifiers][]", nutrient.id, false, id: "nutrients_#{nutrient.id}", checked: has_nutrient %>
				<%= label_tag "nutrients_#{nutrient.id}", nutrient.nombre %>
				<% if has_nutrient %>
					<% has = @product.get_nutrient(nutrient.id) %>
					<%= text_field_tag "nutrients[values][#{nutrient.id}]", has  %>
				<% else %>
					<%= text_field_tag "nutrients[values][#{nutrient.id}]" %>
				<% end %>
			</div>
			<% end %>
			<div class="action">
				<%= f.submit "Enviar", class: "btn" %>
			</div>
		</div>
	</div>
<% end %>